        <!-- sidebar -->
        <div class="col-xs-12 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        	<div class="text-center" style="padding-top: 0px;">
        		<font style="font-size: 35px;">Languages</font>
	            <div class="list-group">

                  <%for language in Language.all %>
                      <%if (current_page?("/syllabify/#{language.value}") )  %>
                            <a href="/syllabify/<%= language.value %>" class="list-group-item active"> <%= language.value %> 
                              <span class="badge"> <%= language.words.count %> </span>
                            </a>
                      <%else%>
                            <a href="/syllabify/<%= language.value %>" class="list-group-item"> <%= language.value %> 
                            <span class="badge">  <%= language.words.count %>  </span>
                            </a>
                      <%end%>
                  <%end%>

                  <span style="visibility:hidden" id="language_name">
                    <%= @language.value rescue ""%>
                  </span>
	            </div>
          	</div>

            <div class="panel panel-primary">
              <div class="panel-heading">
                <div class="panel-title"> Recent Tags Made</div>
              </div>
              <div class="panel-body text-center" style="max-height: 25vh; min-height: 25vh; ; overflow-y: scroll;">
                <div id="recently_tagged">
                  <%= render :partial => "shared/recent_tags"  , :locals => { :recent_tags => get_recently_submitted_words } %>
                </div>
              </div>
            </div>

        </div>
  	
        <!-- main area -->
        <div class="col-xs-12 col-sm-9">
          <div class="jumbotron" style="margin-bottom: 0px;">
              <div id="alter_word_card">
                      <%= render :partial => "shared/update_word_card" , :locals => {:syllabification => @syllabification} %>
              </div>
          </div>

        </div>