
        <span style="visibility:hidden" id="language_name">
             <%= @language.value rescue ""%>
        </span>
  	
        <!-- main area -->
        <div class="col-xs-12 col-sm-9">
          <div class="jumbotron" style="margin-bottom: 0px;">
              <div id="word_card">
                      <%= render :partial => "shared/word_card" , :locals => {:completed => @completed , :total => @total , :word => @word } %>
              </div>
          </div>
          <% value = (@completed.to_f / @total.to_f) * 100 %>
          <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="<%=value%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=value%>%">
              <span class="sr-only"><%=value%> Complete</span>
            </div>
          </div>
           <!-- $('.progress-bar').css('width', valeur+'%').attr('aria-valuenow', valeur); -->

        </div>