        <!-- sidebar -->
        <div class="col-xs-12 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        	<div class="text-center" style="padding-top: 0px;">
        		<font style="font-size: 35px;">Languages</font>
	            <div class="list-group">

                  <%for language in Language.all %>
                      <%if (current_page?("/syllabify/#{language.value}") )  %>
                            <a href="/syllabify/<%= language.value %>" class="list-group-item active"> <%= language.value %> 
                              <span class="badge"> <%= language.words.count %> </span>
                            </a>
                      <%else%>
                            <a href="/syllabify/<%= language.value %>" class="list-group-item"> <%= language.value %> 
                            <span class="badge">  <%= language.words.count %>  </span>
                            </a>
                      <%end%>
                  <%end%>

                  <span style="visibility:hidden" id="language_name">
                    <%= @language.value%>
                  </span>
	            </div>
          	</div>
        </div>
  	
        <!-- main area -->
        <div class="col-xs-12 col-sm-9">
          <div class="jumbotron">
              <div id="word_card">
                      <%= render :partial => "shared/word_card" , :locals => {:completed => @completed , :total => @total , :word => @word } %>
              </div>
          </div>
        </div>