  <%if not word.nil? %>
      
      <div class="col-xs-4 col-sm-4 lr_padding_zero">
          <button type="button" class="btn btn-default" aria-label="Left Align" id="session-pin" , style="float: left; margin: 2px;" >
              <span class="glyphicon glyphicon-pushpin" aria-hidden="true">
                <%= number_of_skipped_words %> 
              </span>    
          </button>

          <%= link_to( 
              content_tag(:span , "" , :class => "glyphicon glyphicon-refresh" ) ,
              clear_skipped_words_path , 
              :class => "btn btn-info" , 
              :style => "float: left; margin: 2px;" , 
              :method => :post , 
              :remote => true) %>
      </div>

      <div class="col-xs-4 col-sm-4 text-center lr_padding_zero">
             <h3 style="margin-top: -15px; " >
                <span class="label label-default"> 
                      <b> <%= completed + 1%> / <%= total %> </b> 
                </span>

             </h3>
      </div>

      <div class="col-xs-4 col-sm-4 lr_padding_zero">
          <button type="button" class="btn btn-default" aria-label="Left Align" id="session-pin" , style="float: right; margin: 2px;">
             <span class="glyphicon glyphicon-saved" aria-hidden="true"> 
                <%= word.syllabifications_count%> 
             </span> 
          </button>

          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#report-modal" , style="float: right; margin: 2px;" >
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>     
          </button>

      </div>


       <div class="modal fade" id="report-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title" id="myModalLabel">Report / Mark Word</h4>
             </div>
             <div class="modal-body">

                  <%= form_tag( mark_word_path(word) , method: "post" , :class => "form-group" , :remote => true) do %>

                      <br>
                      <%= label_tag 'category' %>
                      <br>
                      <%= radio_button_tag 'category', 'word_wrong' , true %> Word shown is wrong / has mistake
                      <br>
                      <%= radio_button_tag 'category', 'suggestion_wrong' %> Suggestion shown is complete different
                      <br>
                      <%= radio_button_tag 'category', 'other' %> Suggestion shown is complete different
                      <br><br>
                      <%= label_tag 'report_note' %>
                      <%= text_area_tag(:report_note , nil , :class => "form-control" , :placeholder => "Please add helper note in report") %>
                      <div class="text-center">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <%= submit_tag("Submit" , :class => "btn btn-primary" ) %>
                      </div>
                  <% end %>

             </div>
           </div>
         </div>
       </div>


  <%end%>


  <span style="visibility:hidden" id="word_id">
    <%= word.id%>
  </span>



  <div class="container text-center">

    <% if completed != total %>
       		<div class="row">
       		</div>
       		<div class="row" style="padding-top: 60px ; padding-bottom: 60px ; ">
      		    <div id="word_<%= word.id %>">
                  <%= render :partial => "shared/word" , :locals => { :word => word } %>
                </div>          	  		
            </div>
       		<div class="row">
         			<div>
                  <%if word.suggestion %>
                      <p><b>Suggestion for ( <%= word.value%> ):</b></p>
                      <p><%= word.suggestion %></p>
                  <%end%>
        		  </div>
       		</div>
       		<div class="row lr_margin_zero">

                <button type="button" class="btn btn-danger" aria-label="Left Align" id="refresh">
                  <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"> Refresh</span>
                </button>

                <button type="button" class="btn btn-warning" aria-label="Left Align" id="skip">
                  <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"> Skip</span>
                </button>

                <button type="button" class="btn btn-success" aria-label="Left Align" id="save">
                  <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"> Save</span>
                </button>
       		</div>
    <%else%>
        <div class="row" style="padding-top: 60px ; padding-bottom: 60px ; ">           
            <h1 style="font-size: 50px"> No Word Left !  </h1>
        </div>
    <%end%>

  </div>



<script type="text/javascript">
  $(document).ready(function(){
    language_name = $("#language_name").text().trim();

        $( "#save" ).click(function() {
              $(this).prop('disabled', true);

              var letters = $('#word').children();
              var syllabified_word = "";
              for(i=0;i<letters.length;i++){
                syllabified_word = syllabified_word + letters[i].innerText;
              }
              var word_id = $('#word_id').text();         

              $.ajax({
                type: "POST",
                url: "/syllabify/" + language_name ,
                data: { submit_type: "save" ,
                        language_name: language_name,
                        word_id: word_id ,
                        syllabified_text: syllabified_word
                },
                dataType: "script"
              });
        });

        $( "#skip" ).click(function() {
              $(this).prop('disabled', true);

              word_id = $("#word_id").text().trim();
                            
              $.ajax({
                type: "POST",
                url: "/syllabify/" + language_name ,
                data: { submit_type: "skip" ,
                        word_id: word_id 
                },
                dataType: "script"
              });

        });


        $( "#refresh" ).click(function() {
              $(this).prop('disabled', true);

              word_id = $("#word_id").text().trim();          
              $.ajax({
                type: "POST",
                url: "/syllabify/" + language_name ,
                data: { submit_type: "refresh" ,
                        word_id: word_id 
                },
                dataType: "script"
              });
        });


    });

</script>